In [5]:
import pandas as pd

def multiply_values(p1, p2, p3):
    return p1 * p2, p2 * p3

data = {
    'p1': [1, 2, 3],
    'p2': [4, 5, 6],
    'p3': [7, 8, 9]
}

test_df = pd.DataFrame(data)
test_df[['r1', 'r2']] = test_df.apply(lambda row: pd.Series(multiply_values(row['p1'], row['p2'], row["p3"])), axis=1)
test_df

   p1  p2  p3  r1  r2
0   1   4   7   4  28
1   2   5   8  10  40
2   3   6   9  18  54